Repository Apocrathia/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create-chart-tag, kustomize-diff

Path conditions:
  create-chart-tag: any of: helm/generic-app/Chart.yaml
  kustomize-diff: any of: flux/manifests/**/*

fix(games): point amp-exporter at the services hostname
  flux/manifests/04-apps/games/README.md
  flux/manifests/04-apps/games/amp-exporter/README.md
  flux/manifests/04-apps/games/amp-exporter/helmrelease.yaml
Due: kustomize-diff

chore(media): pin whisparr image tag to semver
  flux/manifests/04-apps/media/management/whisparr/helmrelease.yaml
Due: kustomize-diff

fix(agents): protect worktrees from concurrent-session kill race
  .agents/rules/worktrees.md
  .agents/skills/cleanup-worktrees/SKILL.md
  .agents/skills/clock-out/SKILL.md
Due: none

fix(mecatl): repair valkey probe auth: $(VAR) is command substitution
  flux/manifests/04-apps/artificial-intelligence/mecatl/valkey.yaml
Due: kustomize-diff

fix(mecatl): render valkey requirepass: move args out of app.container
  flux/manifests/04-apps/artificial-intelligence/mecatl/valkey.yaml
Due: kustomize-diff

feat(calibre-web-automated): switch Authentik to OIDC mode
  flux/manifests/04-apps/media/management/calibre-web-automated/README.md
  flux/manifests/04-apps/media/management/calibre-web-automated/helmrelease.yaml
Due: kustomize-diff

feat(mecatl): TLS-only mecatl-valkey matching the engine security model
  flux/manifests/04-apps/artificial-intelligence/mecatl/README.md
  flux/manifests/04-apps/artificial-intelligence/mecatl/certificate.yaml
  flux/manifests/04-apps/artificial-intelligence/mecatl/helmrelease.yaml
  flux/manifests/04-apps/artificial-intelligence/mecatl/kustomization.yaml
  flux/manifests/04-apps/artificial-intelligence/mecatl/valkey.yaml
Due: kustomize-diff

feat(prime-agent): add activity-recap extension
  flux/manifests/04-apps/artificial-intelligence/prime-agent/agent/extensions/activity-recap.ts
  flux/manifests/04-apps/artificial-intelligence/prime-agent/kustomization.yaml
Due: kustomize-diff

feat(prime-agent): ship a2a.ts extension for native A2A agent tools
  flux/manifests/04-apps/artificial-intelligence/prime-agent/README.md
  flux/manifests/04-apps/artificial-intelligence/prime-agent/agent/extensions/a2a.ts
  flux/manifests/04-apps/artificial-intelligence/prime-agent/helmrelease.yaml
  flux/manifests/04-apps/artificial-intelligence/prime-agent/kustomization.yaml
Due: kustomize-diff

feat(ansible): add unifi-os host and static per-VLAN network tag
  ansible/inventory/host_vars/unifi-os.yml
  ansible/inventory/hosts.yml
  ansible/playbooks/bootstrap.yml
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/handlers/main.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/tasks/network.yml
  ansible/roles/common/tasks/packages_debian.yml
  ansible/roles/common/tasks/packages_redhat.yml
  ansible/roles/common/templates/interfaces.j2
  docs/plans/ansible-host-gitops.md
Due: none

feat(chart): add CNPG barman backup support to generic-app
  helm/generic-app/Chart.yaml
  helm/generic-app/README.md
  helm/generic-app/templates/postgres-backup.yaml
  helm/generic-app/templates/postgres.yaml
  helm/generic-app/values.yaml
Due: create-chart-tag

feat(productivity): deploy endurain fitness tracker
  flux/manifests/04-apps/productivity/README.md
  flux/manifests/04-apps/productivity/endurain/README.md
  flux/manifests/04-apps/productivity/endurain/helmrelease.yaml
  flux/manifests/04-apps/productivity/endurain/icon.svg
  flux/manifests/04-apps/productivity/endurain/kustomization.yaml
  flux/manifests/04-apps/productivity/endurain/namespace.yaml
Due: kustomize-diff

chore(ai): switch agent stack models to glm-5.3-prime
  flux/manifests/04-apps/artificial-intelligence/agents/git/modelconfig.yaml
  flux/manifests/04-apps/artificial-intelligence/agents/home/modelconfig.yaml
  flux/manifests/04-apps/artificial-intelligence/agents/infrastructure/modelconfig.yaml
  flux/manifests/04-apps/artificial-intelligence/agents/knowledge/modelconfig.yaml
  flux/manifests/04-apps/artificial-intelligence/agents/media/modelconfig.yaml
  flux/manifests/04-apps/artificial-intelligence/agents/search/modelconfig.yaml
  flux/manifests/04-apps/artificial-intelligence/k8sgpt/k8sgpt.yaml
  flux/manifests/04-apps/artificial-intelligence/kagent/helmrelease.yaml
  flux/manifests/04-apps/artificial-intelligence/openclaw/README.md
  flux/manifests/04-apps/artificial-intelligence/openclaw/modelconfig.yaml
Due: kustomize-diff

chore(deps): Update alpine:3.24 Docker digest to 5b02b42
  .gitlab/kube-linter.gitlab-ci.yml
Due: none

chore(deps): Update docker/library/alpine:3.24 Docker digest to 5b02b42
  .gitlab/kube-linter.gitlab-ci.yml
Due: none

chore(deps): Update Node.js to ebfe2f9
  flux/manifests/03-services/headlamp/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update rabbitmq:4.3.6 Docker digest to 49e3ace
  flux/manifests/04-apps/social/tak/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update dependency astral-sh/uv to v0.12.16
  flux/manifests/04-apps/artificial-intelligence/prime-agent/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update dependency promptfoo to v0.123.1
  flux/manifests/04-apps/artificial-intelligence/promptfoo/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update docker/library/alpine Docker tag to v3.24.2
  flux/manifests/03-services/headlamp/helmrelease.yaml
  flux/manifests/04-apps/games/archisteamfarm/helmrelease.yaml
  flux/manifests/04-apps/games/esde-themes/cronjob.yaml
  flux/manifests/04-apps/productivity/cryptpad/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update Helm release authentik to v2026.8.3
  flux/manifests/03-services/authentik/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update Helm release tailscale-operator to v1.102.4
  flux/manifests/03-services/tailscale/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update public.ecr.aws/docker/library/alpine Docker tag to v3.24.2
  flux/manifests/03-services/gitlab/runner/config.toml
  flux/manifests/04-apps/management/jetkvm/app-helmrelease.yaml
  flux/manifests/04-apps/productivity/kiwix/cronjob.yaml
Due: kustomize-diff

chore(deps): Update docker/library/redis:8.4.6-alpine3.22 Docker digest to a6d269b
  flux/manifests/04-apps/artificial-intelligence/firecrawl/redis.yaml
Due: kustomize-diff

chore(deps): Update nginx:alpine Docker digest to 62ff208
  flux/manifests/04-apps/management/jetkvm/app-helmrelease.yaml
  helm/generic-app/values.yaml
Due: kustomize-diff

chore(deps): Update docker/library/python:3.14-alpine Docker digest to 016508b
  .gitlab/pages.gitlab-ci.yml
Due: none

chore(deps): Update python:3.14-alpine Docker digest to 016508b
  .gitlab/context-links.gitlab-ci.yml
  .gitlab/pages.gitlab-ci.yml
Due: none

chore(deps): Update docker/library/rabbitmq:4.3.6-management-alpine Docker digest to 5240653
  flux/manifests/04-apps/artificial-intelligence/firecrawl/rabbitmq.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/trueforge-org/kubectl:1.31.1 Docker digest to d1eaced
  flux/manifests/04-apps/games/romm/cronjob.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/trueforge-org/whisparr:2.2.0 Docker digest to 1c4caab
  flux/manifests/04-apps/media/management/whisparr/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update n8nio/n8n Docker tag to v2.40.3
  flux/manifests/04-apps/productivity/n8n/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/haveagitgat/tdarr Docker tag to v2.88.01
  flux/manifests/04-apps/media/management/tdarr/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/haveagitgat/tdarr_node Docker tag to v2.88.01
  flux/manifests/04-apps/media/management/tdarr/daemonset.yaml
Due: kustomize-diff

chore(deps): Update dependency a2a-sdk to v1.1.4
  .gitlab/mr-change-summary.gitlab-ci.yml
Due: none

chore(deps): Update ghcr.io/thelounge/thelounge:4.5.2 Docker digest to 79b02c2
  flux/manifests/04-apps/social/thelounge/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/renovatebot/renovate Docker tag to v44.101.2
  flux/manifests/03-services/renovate-operator/config/renovatejob.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/firecrawl/firecrawl:latest Docker digest to 7b39868
  flux/manifests/04-apps/artificial-intelligence/firecrawl/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/unpoller/unpoller Docker tag to v5.2.7
  flux/manifests/04-apps/management/unpoller/helmrelease.yaml
Due: kustomize-diff

refactor(ansible): connect unifi-os by hostname, not address
  ansible/inventory/hosts.yml
  docs/plans/ansible-host-gitops.md
Due: none
