Repository Apocrathia/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create-chart-tag, kustomize-diff

create-chart-tag:
  stage: tag
  image: alpine/git:2.52.0
  before_script:
  - git config --global user.email "ci@gitlab.com"
  - git config --global user.name "GitLab CI"
  - git remote set-url origin https://oauth2:${GITLAB_TOKEN}@gitlab.com/Apocrathia/homelab.git
  script:
  ...

kustomize-diff:
  stage: verify
  image:
    name: alpine/k8s:1.34.1
  before_script:
  - mkdir -p "$HOME/bin"
  - curl --silent --location https://git.io/JYfAY | bash
  - export PATH="$HOME/bin:$PATH"
  script:
  ...

chore(deps): Update Node.js to 0e0ff40
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/firecrawl/mcpserver.yaml
Due: kustomize-diff

chore(deps): Update Node.js to 0e0ff40
  flux/manifests/04-apps/artificial-intelligence/prime-agent/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update Node.js to 64af381
  fleet/.gitlab-ci.yml
Due: none

chore(deps): Update Node.js to 64af381
  flux/manifests/04-apps/management/jetkvm/api-helmrelease.yaml
  flux/manifests/04-apps/management/jetkvm/app-helmrelease.yaml
Due: kustomize-diff

chore(deps): Update projectsend/projectsend:2 Docker digest to 889db31
  flux/manifests/04-apps/productivity/projectsend/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update public.ecr.aws/docker/library/alpine:3.24.2 Docker digest to 294b683
  flux/manifests/03-services/gitlab/runner/config.toml
  flux/manifests/04-apps/management/jetkvm/app-helmrelease.yaml
  flux/manifests/04-apps/productivity/kiwix/cronjob.yaml
Due: kustomize-diff

chore(deps): Update public.ecr.aws/docker/library/python:3.14 Docker digest to be8ccd0
  .gitlab/mr-change-summary.gitlab-ci.yml
Due: none

chore(deps): Update public.ecr.aws/nginx/nginx:alpine Docker digest to 8874e05
  flux/manifests/04-apps/demo-app/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update python:3.14-bookworm Docker digest to bfb689a
  .gitlab/pre-commit.gitlab-ci.yml
Due: none

chore(deps): Update dependency astral-sh/uv to v0.12.17
  flux/manifests/04-apps/artificial-intelligence/prime-agent/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/av1155/houndarr Docker tag to v1.13.3
  flux/manifests/04-apps/media/management/houndarr/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/openclaw/openclaw Docker tag to v2026.9.5
  flux/manifests/04-apps/artificial-intelligence/openclaw/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update Helm release loki to v18.13.4
  flux/manifests/03-services/observability/loki/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/berriai/litellm-database Docker tag to v1.102.0
  flux/manifests/04-apps/artificial-intelligence/litellm/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/berriai/litellm-helm Docker tag to v1.102.0
  flux/manifests/04-apps/artificial-intelligence/litellm/helmrelease.yaml
Due: kustomize-diff

feat(ansible): forward 443 to UOS console via nftables on unifi-os
  ansible/inventory/host_vars/unifi-os.yml
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/handlers/main.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/tasks/nftables.yml
  ansible/roles/common/templates/nftables.conf.j2
Due: none

fix(ai): whitelist agent flags — invented labels become note text
  flux/manifests/04-apps/artificial-intelligence/tasks/dependency-review/src/invoke.py
  flux/manifests/04-apps/artificial-intelligence/tasks/dependency-review/src/selfcheck.py
Due: kustomize-diff

feat(ansible): install Ghostty terminfo entry via roles/common
  ansible/README.md
  ansible/roles/common/files/xterm-ghostty
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/tasks/terminfo.yml
Due: none

chore(deps): Update docker/library/python:3.14 Docker digest to be8ccd0
  flux/manifests/04-apps/artificial-intelligence/tasks/dependency-merge/cronjob.yaml
  flux/manifests/04-apps/artificial-intelligence/tasks/dependency-review/cronjob.yaml
Due: kustomize-diff

chore(deps): Update dependency Gemba/skyscraper to v3.21.0
  flux/manifests/04-apps/games/skyscraper/cronjob.yaml
Due: kustomize-diff

chore(deps): Update registry.k8s.io/kubectl Docker tag to v1.37.0
  flux/manifests/04-apps/games/romm/cronjob.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/firecrawl/firecrawl:latest Docker digest to c080bc4
  flux/manifests/04-apps/artificial-intelligence/firecrawl/helmrelease.yaml
Due: kustomize-diff

feat(romm): import ES-DE media into RomM assets
  flux/manifests/04-apps/games/romm/README.md
  flux/manifests/04-apps/games/romm/import-cronjob.yaml
  flux/manifests/04-apps/games/romm/kustomization.yaml
  flux/manifests/04-apps/games/romm/src/import-backfill.py
  flux/manifests/04-apps/games/romm/src/import-esde-media.py
  flux/manifests/04-apps/games/romm/src/import-segments.py
  flux/manifests/04-apps/games/romm/src/import-trigger.sh
Due: kustomize-diff

feat(skyscraper): publish gamelists into roms/ for RomM
  flux/manifests/04-apps/games/skyscraper/config/scrape.sh
Due: kustomize-diff

fix(generic-app): default SMB mountOptions to vers=3.0,uid=1000,noperm
  helm/generic-app/templates/storage-smb.yaml
  helm/generic-app/values.yaml
Due: none

chore(generic-app): release 0.0.83 — SMB mount options
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
Due: create-chart-tag

chore(romm): pin generic-app chart to 0.0.83
  flux/manifests/04-apps/games/romm/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/trueforge-org/kubectl:1.31.1 Docker digest to d13949b
  flux/manifests/04-apps/games/romm/import-cronjob.yaml
Due: kustomize-diff

chore(deps): Update amazon/aws-cli Docker tag to v2.36.49
  flux/manifests/04-apps/artificial-intelligence/substrate/cache-helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/9001/copyparty-ac Docker tag to v1.20.24
  flux/manifests/04-apps/media/acquisitions/copyparty/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/yeraze/meshmonitor Docker tag to v4.16.1
  flux/manifests/04-apps/home/meshtastic/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update sirkirby/unifi-network-mcp Docker tag to v0.32.10
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/unifi/mcpserver.yaml
Due: kustomize-diff

chore(deps): Update zereight050/gitlab-mcp Docker tag to v2.1.64
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/gitlab/mcpserver.yaml
Due: kustomize-diff

chore(deps): Update codercom/code-server Docker tag to v4.138.0
  flux/manifests/04-apps/artificial-intelligence/jupyterhub/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update dependency https://github.com/connorgallopo/tracearr to v2.4.1
  flux/manifests/01-bootstrap/helm/repositories/tracearr.yaml
Due: kustomize-diff

docs(ansible): hosts.yml comment reflects the finished controller cutover
  ansible/inventory/hosts.yml
Due: none

fix(romm): swap residual trueforge-org kubectl image on import-cronjob
  flux/manifests/04-apps/games/romm/import-cronjob.yaml
Due: kustomize-diff

docs(ansible): post-cutover truth pass — controller migration is done
  ansible/README.md
  ansible/inventory/group_vars/all.yml
  ansible/roles/kopia/README.md
  docs/issues/unifi-uxg-ipfix-ck-plus-hosting.md
  docs/plans/ansible-host-gitops.md
Due: none

chore(deps): Update ghcr.io/haveagitgat/tdarr Docker tag to v2.89.01
  flux/manifests/04-apps/media/management/tdarr/helmrelease.yaml
Due: kustomize-diff

Path conditions:
  create-chart-tag: any of: helm/generic-app/Chart.yaml
  kustomize-diff: any of: flux/manifests/**/*
