Repository Apocrathia/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create-chart-tag, kustomize-diff

Path conditions:
  create-chart-tag: any of: helm/generic-app/Chart.yaml
  kustomize-diff: any of: flux/manifests/**/*

chore(deps): Update Helm release kube-prometheus-stack to v80.12.0
  flux/manifests/02-infrastructure/kube-prometheus-stack/helmrelease.yaml
Due: kustomize-diff

fix(readme): Correct monitoring stack description by removing underscore from Tempo and updating note on deployment status
  README.md
Due: none

feat(tdarr): Add liveness probe to daemonset for improved health monitoring
  flux/manifests/04-apps/media/management/tdarr/daemonset.yaml
Due: kustomize-diff

fix(helm-deployment): Update icon download instructions to specify using wget only
  prompts/helm-deployment.md
Due: none

feat(helm-repositories): Add OpenTelemetry Helm repository to kustomization
  flux/manifests/01-bootstrap/helm/repositories/kustomization.yaml
  flux/manifests/01-bootstrap/helm/repositories/open-telemetry.yaml
Due: kustomize-diff

feat(observability): Add OpenTelemetry Operator and instrumentation configurations
  flux/manifests/03-services/observability/README.md
  flux/manifests/03-services/observability/kustomization.yaml
  flux/manifests/03-services/observability/otel-operator/README.md
  flux/manifests/03-services/observability/otel-operator/helmrelease.yaml
  flux/manifests/03-services/observability/otel-operator/instrumentation.yaml
  flux/manifests/03-services/observability/otel-operator/kustomization.yaml
  flux/manifests/03-services/observability/otel-operator/namespace.yaml
Due: kustomize-diff

feat(helm): Add pod annotations support for custom configurations
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/templates/deployment.yaml
  helm/generic-app/values.yaml
Due: create-chart-tag

feat(helm-deployment): Add instructions for integrating new deployments into kustomization
  prompts/helm-deployment.md
Due: none

feat(qdrant): Add Qdrant vector database deployment
  flux/manifests/04-apps/artificial-intelligence/kustomization.yaml
  flux/manifests/04-apps/artificial-intelligence/qdrant/README.md
  flux/manifests/04-apps/artificial-intelligence/qdrant/helmrelease.yaml
  flux/manifests/04-apps/artificial-intelligence/qdrant/icon.svg
  flux/manifests/04-apps/artificial-intelligence/qdrant/kustomization.yaml
  flux/manifests/04-apps/artificial-intelligence/qdrant/namespace.yaml
  flux/manifests/04-apps/artificial-intelligence/qdrant/secret.yaml
Due: kustomize-diff

feat(backstage): Add Backstage deployment with OIDC authentication
  flux/manifests/04-apps/management/backstage/README.md
  flux/manifests/04-apps/management/backstage/authentik-blueprint.yaml
  flux/manifests/04-apps/management/backstage/helmrelease.yaml
  flux/manifests/04-apps/management/backstage/httproute.yaml
  flux/manifests/04-apps/management/backstage/icon.svg
  flux/manifests/04-apps/management/backstage/kustomization.yaml
  flux/manifests/04-apps/management/backstage/namespace.yaml
  flux/manifests/04-apps/management/backstage/postgres.yaml
  flux/manifests/04-apps/management/backstage/secret.yaml
  flux/manifests/04-apps/management/kustomization.yaml
Due: kustomize-diff

feat(rclone): Add RClone Manager deployment
  flux/manifests/04-apps/management/kustomization.yaml
  flux/manifests/04-apps/management/rclone/README.md
  flux/manifests/04-apps/management/rclone/helmrelease.yaml
  flux/manifests/04-apps/management/rclone/icon.svg
  flux/manifests/04-apps/management/rclone/kustomization.yaml
  flux/manifests/04-apps/management/rclone/namespace.yaml
Due: kustomize-diff

feat(bridge): Update HelmRelease version and add pod annotations for OpenTelemetry integration
  flux/manifests/04-apps/artificial-intelligence/agents/homelab/bridge/helmrelease.yaml
Due: kustomize-diff

feat(arrsync): Add OpenTelemetry annotation to cronjob for Python instrumentation
  flux/manifests/04-apps/media/management/scripts/arrsync/cronjob.yaml
Due: kustomize-diff

feat(komga): Add Komga media server deployment with Authentik SSO integration
  flux/manifests/04-apps/media/kustomization.yaml
  flux/manifests/04-apps/media/servers/komga/README.md
  flux/manifests/04-apps/media/servers/komga/authentik-blueprint.yaml
  flux/manifests/04-apps/media/servers/komga/helmrelease.yaml
  flux/manifests/04-apps/media/servers/komga/icon.svg
  flux/manifests/04-apps/media/servers/komga/kustomization.yaml
  flux/manifests/04-apps/media/servers/komga/namespace.yaml
Due: kustomize-diff

feat(icloudpd): Add iCloud Photos Downloader deployment
  flux/manifests/04-apps/media/kustomization.yaml
  flux/manifests/04-apps/media/management/icloudpd/README.md
  flux/manifests/04-apps/media/management/icloudpd/helmrelease.yaml
  flux/manifests/04-apps/media/management/icloudpd/kustomization.yaml
  flux/manifests/04-apps/media/management/icloudpd/namespace.yaml
Due: kustomize-diff

feat(maintainerr): Add Maintainerr media management deployment
  flux/manifests/04-apps/media/kustomization.yaml
  flux/manifests/04-apps/media/management/maintainerr/README.md
  flux/manifests/04-apps/media/management/maintainerr/helmrelease.yaml
  flux/manifests/04-apps/media/management/maintainerr/icon.svg
  flux/manifests/04-apps/media/management/maintainerr/kustomization.yaml
  flux/manifests/04-apps/media/management/maintainerr/namespace.yaml
Due: kustomize-diff

feat(recommendarr): Add Recommendarr media management deployment
  flux/manifests/04-apps/media/kustomization.yaml
  flux/manifests/04-apps/media/management/recommendarr/README.md
  flux/manifests/04-apps/media/management/recommendarr/helmrelease.yaml
  flux/manifests/04-apps/media/management/recommendarr/icon.png
  flux/manifests/04-apps/media/management/recommendarr/kustomization.yaml
  flux/manifests/04-apps/media/management/recommendarr/namespace.yaml
Due: kustomize-diff

feat(suwayomi): Add Suwayomi manga download manager deployment
  flux/manifests/04-apps/media/kustomization.yaml
  flux/manifests/04-apps/media/management/suwayomi/README.md
  flux/manifests/04-apps/media/management/suwayomi/helmrelease.yaml
  flux/manifests/04-apps/media/management/suwayomi/icon.png
  flux/manifests/04-apps/media/management/suwayomi/kustomization.yaml
  flux/manifests/04-apps/media/management/suwayomi/namespace.yaml
Due: kustomize-diff

feat(kustomization): Add Maintainerr resource to main kustomization file
  flux/manifests/04-apps/media/kustomization.yaml
Due: kustomize-diff

feat(authentik): Introduce OIDC Provider Mode for Authentik integration
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/templates/authentik-blueprint.yaml
  helm/generic-app/templates/authentik-oidc-blueprint.yaml
  helm/generic-app/templates/httproute.yaml
  helm/generic-app/values.yaml
Due: create-chart-tag
