Repository Apocrathia/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create-chart-tag, kustomize-diff

create-chart-tag:
  stage: tag
  image: alpine/git:2.52.0
  before_script:
  - git config --global user.email "ci@gitlab.com"
  - git config --global user.name "GitLab CI"
  - git remote set-url origin https://oauth2:${GITLAB_TOKEN}@gitlab.com/Apocrathia/homelab.git
  script:
  ...

kustomize-diff:
  stage: verify
  image:
    name: alpine/k8s:1.34.1
  before_script:
  - mkdir -p "$HOME/bin"
  - curl --silent --location https://git.io/JYfAY | bash
  - export PATH="$HOME/bin:$PATH"
  script:
  ...

feat(generic-app): add opt-in Gatus uptime probe values
  docs/issues/gatus-annotate-app-wave.md
  docs/issues/generic-app-gatus-values.md
  docs/plans/gatus-cluster-uptime.md
  flux/manifests/03-services/observability/gatus/README.md
  flux/manifests/04-apps/demo-app/helmrelease.yaml
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/README.md
  helm/generic-app/templates/service-clusterip.yaml
  helm/generic-app/values.yaml
Due: create-chart-tag, kustomize-diff

fix(generic-app): use hasKey for gatus optional string fields
  helm/generic-app/templates/service-clusterip.yaml
Due: none

fix(generic-app): harden gatus value guards
  helm/generic-app/CHANGELOG.md
  helm/generic-app/templates/service-clusterip.yaml
Due: none

feat(gatus): enable uptime probes on first app wave
  docs/issues/gatus-annotate-app-wave.md
  docs/issues/gatus-generic-app-default-on.md
  docs/issues/gatus-non-generic-app-gaps.md
  docs/plans/gatus-cluster-uptime.md
  flux/manifests/04-apps/games/amp-exporter/helmrelease.yaml
  flux/manifests/04-apps/home/terminus/helmrelease.yaml
  flux/manifests/04-apps/productivity/rclone/helmrelease.yaml
  flux/manifests/04-apps/productivity/searxng/helmrelease.yaml
  flux/manifests/04-apps/productivity/silverbullet/helmrelease.yaml
  flux/manifests/04-apps/productivity/wakapi/helmrelease.yaml
Due: kustomize-diff

docs(issues): file UniFi UXG IPFIX CK+ hosting gap
  docs/issues/unifi-uxg-ipfix-ck-plus-hosting.md
Due: none

fix(immich): pin postgres image to vectorchord 17
  flux/manifests/04-apps/media/management/immich/postgres.yaml
Due: kustomize-diff

feat(goflow2): vendor Prometheus collector Grafana dashboard
  flux/manifests/03-services/observability/README.md
  flux/manifests/03-services/observability/goflow2/README.md
  flux/manifests/03-services/observability/goflow2/grafana/dashboard.json
  flux/manifests/03-services/observability/goflow2/grafana/grafana.yaml
  flux/manifests/03-services/observability/goflow2/grafana/kustomization.yaml
  flux/manifests/03-services/observability/goflow2/kustomization.yaml
Due: kustomize-diff

feat(generic-app): default gatus uptime probes on
  docs/issues/gatus-annotate-app-wave.md
  docs/issues/gatus-generic-app-default-on.md
  docs/issues/gatus-non-generic-app-gaps.md
  docs/plans/gatus-cluster-uptime.md
  flux/manifests/03-services/observability/gatus/README.md
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/README.md
  helm/generic-app/values.yaml
Due: create-chart-tag, kustomize-diff

feat(ansible): bootstrap host GitOps tree and CI
  .gitignore
  .gitlab-ci.yml
  ansible/.gitlab-ci.yml
  ansible/README.md
  ansible/ansible.cfg
  ansible/inventory/group_vars/all.yml
  ansible/inventory/hosts.yml
  ansible/playbooks/bootstrap.yml
  ansible/playbooks/common.yml
  ansible/playbooks/site.yml
  ansible/requirements.yml
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/meta/main.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/tasks/packages.yml
  ansible/roles/common/tasks/system.yml
  ansible/roles/common/tasks/user.yml
  docs/plans/ansible-host-gitops.md
Due: none

Edit hosts.yml
  ansible/inventory/hosts.yml
Due: none

fix(gatus): silence unhealthy default-on probes
  flux/manifests/03-services/observability/goflow2/helmrelease.yaml
  flux/manifests/04-apps/artificial-intelligence/agents/home/bridge/helmrelease.yaml
  flux/manifests/04-apps/artificial-intelligence/agents/homelab/bridge/helmrelease.yaml
  flux/manifests/04-apps/artificial-intelligence/firecrawl/helmrelease.yaml
  flux/manifests/04-apps/artificial-intelligence/firecrawl/playwright.yaml
  flux/manifests/04-apps/artificial-intelligence/firecrawl/postgres.yaml
  flux/manifests/04-apps/artificial-intelligence/firecrawl/rabbitmq.yaml
  flux/manifests/04-apps/artificial-intelligence/firecrawl/redis.yaml
  flux/manifests/04-apps/artificial-intelligence/litellm/valkey.yaml
  flux/manifests/04-apps/artificial-intelligence/promptfoo/helmrelease.yaml
  flux/manifests/04-apps/artificial-intelligence/substrate/cache-helmrelease.yaml
  flux/manifests/04-apps/home/terminus/valkey.yaml
  flux/manifests/04-apps/media/acquisitions/sabnzbd/helmrelease.yaml
  flux/manifests/04-apps/media/management/icloudpd/helmrelease.yaml
  flux/manifests/04-apps/media/management/jellyplex-watched/helmrelease.yaml
  flux/manifests/04-apps/media/management/recyclarr/helmrelease.yaml
  flux/manifests/04-apps/media/servers/plex/helmrelease.yaml
  flux/manifests/04-apps/social/mumble/server.yaml
Due: kustomize-diff

chore(deps): Pin ghcr.io/tensorchord/cloudnative-vectorchord Docker tag to acebb38
  flux/manifests/04-apps/media/management/immich/postgres.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/renovatebot/renovate:latest Docker digest to 82c8dbd
  .gitlab/renovate.gitlab-ci.yml
Due: none

chore(deps): Update ghcr.io/tensorchord/cloudnative-vectorchord Docker tag to v17-1.1.1
  flux/manifests/04-apps/media/management/immich/postgres.yaml
Due: kustomize-diff

feat(ansible): fetch deploy SSH material from 1Password Connect
  .gitlab/README.md
  ansible/.gitlab-ci.yml
  ansible/README.md
  ansible/ci/fetch_op_ssh.py
  ansible/inventory/group_vars/all.yml
  docs/plans/ansible-host-gitops.md
Due: none

feat(ansible): become via Connect sudo-password field
  .gitlab/README.md
  ansible/.gitlab-ci.yml
  ansible/README.md
  ansible/ci/fetch_op_ssh.py
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/tasks/user.yml
  docs/plans/ansible-host-gitops.md
Due: none

fix(ansible): use paramiko in CI to avoid uid 1000 ssh failure
  ansible/.gitlab-ci.yml
  ansible/README.md
Due: none

fix(ansible): force -c paramiko_ssh in CI
  ansible/.gitlab-ci.yml
  ansible/README.md
Due: none

chore(ansible): drop ineffective ANSIBLE_CONNECTION=paramiko
  ansible/.gitlab-ci.yml
Due: none

fix(ansible): support Fedora desktops and Debian servers
  ansible/README.md
  ansible/inventory/group_vars/all.yml
  ansible/inventory/hosts.yml
  ansible/roles/common/tasks/packages.yml
  ansible/roles/common/tasks/packages_debian.yml
  ansible/roles/common/tasks/packages_redhat.yml
  ansible/roles/common/tasks/user.yml
Due: none

fix(ansible): drop qemu-guest-agent; add podman to common
  ansible/inventory/group_vars/all.yml
  ansible/roles/common/tasks/packages_debian.yml
  ansible/roles/common/tasks/packages_redhat.yml
Due: none

chore(ansible): pin CI pip deps in ci/requirements.txt
  ansible/.gitlab-ci.yml
  ansible/README.md
  ansible/ci/requirements.txt
Due: none

fix(ansible): apply Fedora security updates via dnf-automatic
  ansible/roles/common/tasks/packages_redhat.yml
Due: none

fix(ci): stop pages job SIGPIPE from ls|head
  .gitlab/pages.gitlab-ci.yml
Due: none

chore(deps): Update dependency ansible-lint to v26
  ansible/ci/requirements.txt
Due: none

chore(deps): Update dependency ansible.posix to v2
  ansible/requirements.yml
Due: none

chore(deps): Update dependency community.general to v13
  ansible/requirements.yml
Due: none

chore(deps): Update dependency paramiko to v5
  ansible/ci/requirements.txt
Due: none

fix(promptfoo): downgrade Python image version to 3.13
  flux/manifests/04-apps/artificial-intelligence/promptfoo/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update dependency ansible-core to v2.21.2
  ansible/ci/requirements.txt
Due: none

chore(deps): Update ghcr.io/berriai/litellm-database Docker tag to v1.95.0
  flux/manifests/04-apps/artificial-intelligence/litellm/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/berriai/litellm-helm Docker tag to v1.95.0
  flux/manifests/04-apps/artificial-intelligence/litellm/helmrelease.yaml
Due: kustomize-diff

fix(ansible): run CI OpenSSH via MCR python image
  ansible/.gitlab-ci.yml
  ansible/README.md
  ansible/ci/requirements.txt
Due: none

fix(ansible): keep runner HOME for CI git + OpenSSH keys
  ansible/.gitlab-ci.yml
  ansible/README.md
Due: none

fix(security): bump HIGH CVEs in tracked uv.lock trees
  docs/issues/trivy-uv-lock-high-cves.md
  flux/manifests/04-apps/artificial-intelligence/tasks/alert-agent-invoke/src/pyproject.toml
  flux/manifests/04-apps/artificial-intelligence/tasks/alert-agent-invoke/src/uv.lock
  flux/manifests/04-apps/artificial-intelligence/tasks/run-loop-agent-invoke/src/uv.lock
  flux/manifests/04-apps/artificial-intelligence/tasks/scheduled-agent-invoke/src/uv.lock
  flux/manifests/04-apps/management/scripts/unifi/uptime-robot-ip-sync/src/pyproject.toml
  flux/manifests/04-apps/management/scripts/unifi/uptime-robot-ip-sync/src/uv.lock
  flux/manifests/04-apps/media/management/scripts/arrsync/src/pyproject.toml
  flux/manifests/04-apps/media/management/scripts/arrsync/src/uv.lock
Due: kustomize-diff

chore(deps): Update alpine/git:v2.54.0 Docker digest to 729da23
  .gitlab/chart-tag.gitlab-ci.yml
Due: none

chore(deps): Update ghcr.io/home-operations/radarr:6.4.0 Docker digest to d380d69
  flux/manifests/04-apps/media/management/radarr/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/renovatebot/renovate:latest Docker digest to d94898f
  .gitlab/renovate.gitlab-ci.yml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v88.1.2
  flux/manifests/02-infrastructure/kube-prometheus-stack/helmrelease.yaml
Due: kustomize-diff

Path conditions:
  create-chart-tag: any of: helm/generic-app/Chart.yaml
  kustomize-diff: any of: flux/manifests/**/*
