Repository Apocrathia/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create-chart-tag, kustomize-diff

Path conditions:
  create-chart-tag: any of: helm/generic-app/Chart.yaml
  kustomize-diff: any of: flux/manifests/**/*

chore(deps): Update Helm release kube-prometheus-stack to v80.13.1
  flux/manifests/02-infrastructure/kube-prometheus-stack/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update mccloud/subgen Docker tag to v2026
  flux/manifests/04-apps/media/management/bazarr/helmrelease.yaml
Due: kustomize-diff

chore(release): Bump version to 0.0.47 and update Longhorn volume replica default to 3 for improved data redundancy
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/README.md
  helm/generic-app/templates/storage-longhorn.yaml
  helm/generic-app/values.yaml
Due: create-chart-tag

docs(longhorn): Update README to clarify volume replica count behavior and issues
  scripts/longhorn/README.md
Due: none

chore(leaderworkerset): Update resource requests and limits for LWS controller to prevent OOM kills
  flux/manifests/03-services/leaderworkerset/kustomization.yaml
Due: kustomize-diff

chore(cilium): Reduce resource requests and limits for cilium-agent to optimize resource usage
  flux/manifests/02-infrastructure/cilium/helmrelease.yaml
Due: kustomize-diff

chore(longhorn): Reduce resource requests and limits for Longhorn components to optimize resource usage
  flux/manifests/02-infrastructure/longhorn/helmrelease.yaml
Due: kustomize-diff

chore(talos): Adjust resource requests and limits for API server to optimize performance and resource allocation
  talos/patches/unified-patch.yaml
Due: none

fix(ci): remove false positive GITLAB_TOKEN validation check
  .gitlab/chart-tag.gitlab-ci.yml
Due: none

chore(plex): Reduce resource requests for Plex server to optimize resource usage
  flux/manifests/04-apps/media/servers/plex/helmrelease.yaml
Due: kustomize-diff

chore(firecrawl): Reduce CPU resource requests for Firecrawl components to optimize resource usage
  flux/manifests/04-apps/artificial-intelligence/firecrawl/helmrelease.yaml
  flux/manifests/04-apps/artificial-intelligence/firecrawl/playwright.yaml
Due: kustomize-diff

chore(authentik): Reduce CPU resource requests for authentik to optimize resource usage
  flux/manifests/03-services/authentik/helmrelease.yaml
Due: kustomize-diff

chore(renovate): Reduce CPU resource requests for Renovate to optimize resource usage
  flux/manifests/03-services/renovate/helmrelease.yaml
Due: kustomize-diff

chore(tdarr): Reduce CPU resource requests for Tdarr to optimize resource usage
  flux/manifests/04-apps/media/management/tdarr/daemonset.yaml
Due: kustomize-diff

chore(tdarr): Further reduce CPU resource requests for Tdarr to enhance resource efficiency
  flux/manifests/04-apps/media/management/tdarr/helmrelease.yaml
Due: kustomize-diff

chore(firecrawl): Further reduce CPU resource requests for Firecrawl to enhance resource efficiency
  flux/manifests/04-apps/artificial-intelligence/firecrawl/postgres.yaml
Due: kustomize-diff

chore(flowise): Reduce CPU resource requests for Flowise to enhance resource efficiency
  flux/manifests/04-apps/artificial-intelligence/flowise/helmrelease.yaml
Due: kustomize-diff

chore(litellm): Reduce CPU resource requests for Litellm to enhance resource efficiency
  flux/manifests/04-apps/artificial-intelligence/litellm/pgvector/helmrelease.yaml
Due: kustomize-diff

chore(openwebui): Reduce CPU resource requests for OpenWebUI to enhance resource efficiency
  flux/manifests/04-apps/artificial-intelligence/openwebui/mcpo/helmrelease.yaml
Due: kustomize-diff

chore(changedetection-io): Reduce CPU resource requests for Changedetection.io to enhance resource efficiency
  flux/manifests/04-apps/management/changedetection-io/helmrelease.yaml
Due: kustomize-diff
