Repository Apocrathia/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create-chart-tag, kustomize-diff

Path conditions:
  create-chart-tag: any of: helm/generic-app/Chart.yaml
  kustomize-diff: any of: flux/manifests/**/*

chore(longhorn): Update recurring job schedules for backups and cleanups
  flux/manifests/02-infrastructure/longhorn/recurringjobs.yaml
Due: kustomize-diff

chore(kagent): Update Grafana image configuration in Helm release
  flux/manifests/04-apps/artificial-intelligence/kagent/helmrelease.yaml
Due: kustomize-diff

chore(litellm): Update Redis image configuration in Helm release
  flux/manifests/04-apps/artificial-intelligence/litellm/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/chrisbenincasa/tunarr Docker tag to v1.0.13
  flux/manifests/04-apps/media/servers/tunarr/helmrelease.yaml
Due: kustomize-diff

chore(oom): Disable Talos OOM controller and adjust configuration settings
  talos/patches/unified-patch.yaml
Due: none

chore(release): Bump version to 0.0.44 and add restore annotation for Longhorn volumes
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/templates/storage-longhorn.yaml
Due: create-chart-tag

chore(deps): Update ghcr.io/firecrawl/firecrawl Docker digest to b181939
  flux/manifests/04-apps/artificial-intelligence/firecrawl/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/home-operations/bazarr Docker tag to v1.5.4
  flux/manifests/04-apps/media/management/bazarr/helmrelease.yaml
Due: kustomize-diff

refactor(docs): Update documentation standards to avoid duplicating tunable configuration values
  .cursor/rules/general.mdc
  docs/DOCUMENTATION-STANDARDS.md
  docs/README-TEMPLATE.md
  prompts/helm-deployment.md
Due: none

feat(agregarr): Add Agregarr deployment with HelmRelease, namespace, and documentation
  flux/manifests/04-apps/media/kustomization.yaml
  flux/manifests/04-apps/media/management/agregarr/README.md
  flux/manifests/04-apps/media/management/agregarr/helmrelease.yaml
  flux/manifests/04-apps/media/management/agregarr/icon.svg
  flux/manifests/04-apps/media/management/agregarr/kustomization.yaml
  flux/manifests/04-apps/media/management/agregarr/namespace.yaml
Due: kustomize-diff

chore(deps): Update dependency https://gitlab.com/Apocrathia/homelab.git to v0.0.44
  flux/manifests/04-apps/media/management/agregarr/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/justarchinet/archisteamfarm Docker tag to v6.3.2.0
  flux/manifests/04-apps/games/archisteamfarm/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/stacklok/toolhive/toolhive-operator Docker tag to v0.5.19
  flux/manifests/03-services/toolhive/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/home-operations/k8s-sidecar Docker tag to v2.2.2
  flux/manifests/03-services/authentik/helmrelease.yaml
  flux/manifests/04-apps/media/management/recyclarr/helmrelease.yaml
Due: kustomize-diff

feat(docs): Add comprehensive documentation review prompt
  prompts/README.md
  prompts/documentation-review.md
Due: none

feat(docs): Enhance README files across various services with navigation and documentation links
  flux/manifests/02-infrastructure/cilium/README.md
  flux/manifests/02-infrastructure/coredns/README.md
  flux/manifests/02-infrastructure/kube-prometheus-stack/etcd/README.md
  flux/manifests/03-services/chaos-mesh/README.md
  flux/manifests/03-services/dashboard/README.md
  flux/manifests/03-services/external-secrets/README.md
  flux/manifests/03-services/gitlab/agent/README.md
  flux/manifests/03-services/gitlab/runner/README.md
  flux/manifests/03-services/kong/README.md
  flux/manifests/03-services/kyverno/README.md
  flux/manifests/03-services/leaderworkerset/README.md
  flux/manifests/03-services/observability/README.md
  flux/manifests/03-services/observability/alloy/README.md
  flux/manifests/03-services/observability/fluent/README.md
  flux/manifests/03-services/observability/grafana/README.md
  flux/manifests/03-services/observability/loki/README.md
  flux/manifests/03-services/observability/mimir/README.md
  flux/manifests/03-services/postgresql/README.md
  flux/manifests/03-services/renovate/README.md
  flux/manifests/03-services/toolhive/README.md
  flux/manifests/03-services/trivy/README.md
  flux/manifests/04-apps/artificial-intelligence/agents/git/README.md
  flux/manifests/04-apps/artificial-intelligence/agents/infrastructure/README.md
  flux/manifests/04-apps/artificial-intelligence/agents/knowledge/README.md
  flux/manifests/04-apps/artificial-intelligence/agents/media/README.md
  flux/manifests/04-apps/artificial-intelligence/firecrawl/README.md
  flux/manifests/04-apps/artificial-intelligence/kagent/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/firecrawl/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/github/README.md
  flux/manifests/04-apps/management/windmill/README.md
  flux/manifests/04-apps/media/acquisitions/qbittorrent/README.md
  flux/manifests/04-apps/media/management/radarr/README.md
  flux/manifests/04-apps/media/management/sonarr/README.md
  flux/manifests/04-apps/media/servers/plex/README.md
  flux/manifests/04-apps/web3/README.md
  helm/generic-app/README.md
  scripts/longhorn/README.md
  talos/README.md
Due: kustomize-diff

refactor(docs): Update documentation references and enhance continuous improvement sections
  prompts/helm-deployment.md
  prompts/mcp-deployment.md
  prompts/security-analyst.md
Due: none

rename files
  docs/configuration-patterns.md
  docs/documentation-standards.md
  docs/readme-template.md
Due: none

refactor(docs): Update resource requirements in README files to reference helmrelease.yaml
  flux/manifests/02-infrastructure/csi-driver-smb/README.md
  flux/manifests/02-infrastructure/kube-prometheus-stack/README.md
  flux/manifests/02-infrastructure/longhorn/README.md
  flux/manifests/02-infrastructure/metrics-server/README.md
  flux/manifests/03-services/authentik/README.md
  flux/manifests/03-services/cert-manager/README.md
  flux/manifests/03-services/external-secrets/README.md
  flux/manifests/03-services/flyte/README.md
  flux/manifests/03-services/gateway/README.md
  flux/manifests/03-services/housekeeping/README.md
  flux/manifests/03-services/observability/alloy/README.md
  flux/manifests/03-services/observability/loki/README.md
  flux/manifests/03-services/postgresql/README.md
  flux/manifests/03-services/toolhive/README.md
  flux/manifests/04-apps/artificial-intelligence/crewai/demo/README.md
  flux/manifests/04-apps/artificial-intelligence/flowise/README.md
  flux/manifests/04-apps/artificial-intelligence/litellm/pgvector/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/a2a/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/flux/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/gitlab/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/mkp/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/openzim/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/osv/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/plex/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/proxmox/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/searxng/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/servarr/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/truenas/README.md
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/unifi/README.md
  flux/manifests/04-apps/artificial-intelligence/mlflow/README.md
  flux/manifests/04-apps/demo-app/README.md
  flux/manifests/04-apps/management/companion/README.md
  flux/manifests/04-apps/management/jetkvm/README.md
  flux/manifests/04-apps/management/searxng/README.md
  flux/manifests/04-apps/media/management/ombi/README.md
  flux/manifests/04-apps/media/management/overseerr/README.md
  flux/manifests/04-apps/media/management/tautulli/README.md
  flux/manifests/04-apps/media/servers/tunarr/README.md
Due: kustomize-diff
