Repository Apocrathia/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create-chart-tag, kustomize-diff

create-chart-tag:
  stage: tag
  image: alpine/git:2.52.0
  before_script:
  - git config --global user.email "ci@gitlab.com"
  - git config --global user.name "GitLab CI"
  - git remote set-url origin https://oauth2:${GITLAB_TOKEN}@gitlab.com/Apocrathia/homelab.git
  script:
  ...

kustomize-diff:
  stage: verify
  image:
    name: alpine/k8s:1.34.1
  before_script:
  - mkdir -p "$HOME/bin"
  - curl --silent --location https://git.io/JYfAY | bash
  - export PATH="$HOME/bin:$PATH"
  script:
  ...

docs(storage): mark rustfs cutover complete and verified
  docs/plans/minio-to-rustfs-migration.md
Due: none

fix(media): stop copyparty crash loop, move app to Productivity
  flux/manifests/04-apps/media/acquisitions/copyparty/helmrelease.yaml
Due: kustomize-diff

feat(generic-app): chart-native kopia backup values
  flux/manifests/04-apps/demo-app/backup.yaml
  flux/manifests/04-apps/demo-app/helmrelease.yaml
  flux/manifests/04-apps/demo-app/kustomization.yaml
  flux/manifests/04-apps/media/servers/jellyfin/backup.yaml
  flux/manifests/04-apps/media/servers/jellyfin/helmrelease.yaml
  flux/manifests/04-apps/media/servers/jellyfin/kustomization.yaml
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/README.md
  helm/generic-app/templates/backup.yaml
  helm/generic-app/values.yaml
Due: create-chart-tag, kustomize-diff

feat(ansible): kopia role for non-Kubernetes hosts
  ansible/README.md
  ansible/inventory/host_vars/game.yml
  ansible/inventory/host_vars/ians-gaming-pc.yml
  ansible/inventory/hosts.yml
  ansible/playbooks/kopia.yml
  ansible/playbooks/site.yml
  ansible/roles/kopia/README.md
  ansible/roles/kopia/defaults/main.yml
  ansible/roles/kopia/meta/main.yml
  ansible/roles/kopia/tasks/install.yml
  ansible/roles/kopia/tasks/install_debian.yml
  ansible/roles/kopia/tasks/install_redhat.yml
  ansible/roles/kopia/tasks/main.yml
  ansible/roles/kopia/tasks/policy.yml
  ansible/roles/kopia/tasks/repository.yml
  ansible/roles/kopia/tasks/schedule.yml
Due: none

feat(generic-app): optional ssoLaunchUrl for Authentik launch tiles
  flux/manifests/04-apps/media/servers/jellyfin/helmrelease.yaml
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/README.md
  helm/generic-app/templates/authentik-bookmark-blueprint.yaml
  helm/generic-app/templates/authentik-oidc-blueprint.yaml
  helm/generic-app/templates/authentik-proxy-blueprint.yaml
  helm/generic-app/values.yaml
Due: create-chart-tag, kustomize-diff

refactor(ansible): MR feedback — renovate wiring, neutral wording, systemd_service
  ansible/playbooks/kopia.yml
  ansible/roles/kopia/README.md
  ansible/roles/kopia/defaults/main.yml
  ansible/roles/kopia/meta/main.yml
  ansible/roles/kopia/tasks/policy.yml
  ansible/roles/kopia/tasks/repository.yml
  ansible/roles/kopia/tasks/schedule.yml
  renovate.json
Due: none

fix(media): TCP liveness probe for jellyfin-ai-upscaler
  flux/manifests/04-apps/media/servers/jellyfin-ai-upscaler/README.md
  flux/manifests/04-apps/media/servers/jellyfin-ai-upscaler/helmrelease.yaml
Due: kustomize-diff

feat(apps): SSO deep-link launch URLs for semaphore, aurral, komga
  flux/manifests/04-apps/management/semaphore/helmrelease.yaml
  flux/manifests/04-apps/media/management/aurral/helmrelease.yaml
  flux/manifests/04-apps/media/servers/komga/helmrelease.yaml
Due: kustomize-diff

fix(ansible): kopia playbook 1Password lookups work in CI Connect mode
  ansible/.gitlab-ci.yml
  ansible/playbooks/kopia.yml
Due: none

fix(generic-app): write meta_launch_url, not the read-only launch_url
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/templates/authentik-oidc-blueprint.yaml
  helm/generic-app/templates/authentik-proxy-blueprint.yaml
Due: create-chart-tag

chore(deps): Update Helm release kube-prometheus-stack to v91.2.1
  flux/manifests/02-infrastructure/kube-prometheus-stack/helmrelease.yaml
Due: kustomize-diff

fix(ansible): drop redundant repository-verify task (CI check-mode failure)
  ansible/roles/kopia/tasks/repository.yml
Due: none

chore(deps): Update ghcr.io/mealie-recipes/mealie Docker tag to v3.26.0
  flux/manifests/04-apps/home/mealie/helmrelease.yaml
Due: kustomize-diff

fix(ansible): skip timer enable in check mode (unit files not written)
  ansible/roles/kopia/tasks/schedule.yml
Due: none

feat(authentik): share ten apps with the users group on the tailnet
  flux/manifests/03-services/authentik/blueprints/gitlab.yaml
  flux/manifests/04-apps/artificial-intelligence/openwebui/authentik-blueprint.yaml
  flux/manifests/04-apps/games/romm/helmrelease.yaml
  flux/manifests/04-apps/home/mealie/helmrelease.yaml
  flux/manifests/04-apps/media/management/seerr/helmrelease.yaml
  flux/manifests/04-apps/media/servers/halcyon/helmrelease.yaml
  flux/manifests/04-apps/media/servers/invidious/helmrelease.yaml
  flux/manifests/04-apps/productivity/kiwix/helmrelease.yaml
  flux/manifests/04-apps/productivity/searxng/helmrelease.yaml
  flux/manifests/04-apps/social/lemmy/helmrelease.yaml
Due: kustomize-diff

fix(blueprints): write meta_launch_url, not the read-only launch_url
  flux/manifests/01-bootstrap/flux-system/authentik-blueprint.yaml
  flux/manifests/02-infrastructure/cilium/authentik-blueprint.yaml
  flux/manifests/02-infrastructure/kube-prometheus-stack/authentik-blueprint.yaml
  flux/manifests/02-infrastructure/longhorn/authentik-blueprint.yaml
  flux/manifests/03-services/authentik/blueprints/proxmox.yaml
  flux/manifests/03-services/backup/authentik-blueprint.yaml
  flux/manifests/03-services/chaos-mesh/authentik-blueprint.yaml
  flux/manifests/03-services/kyverno/policy-reporter/authentik-blueprint.yaml
  flux/manifests/03-services/observability/gatus/authentik-blueprint.yaml
  flux/manifests/04-apps/artificial-intelligence/jupyterhub/authentik-blueprint.yaml
  flux/manifests/04-apps/artificial-intelligence/kagent/authentik-blueprint.yaml
  flux/manifests/04-apps/artificial-intelligence/litellm/authentik-blueprint.yaml
  flux/manifests/04-apps/artificial-intelligence/openwebui/authentik-blueprint.yaml
  flux/manifests/04-apps/media/management/immich/authentik-blueprint.yaml
  flux/manifests/04-apps/media/management/tracearr/authentik-blueprint.yaml
Due: kustomize-diff

feat(productivity): add ProjectSend alongside copyparty
  flux/manifests/04-apps/productivity/README.md
  flux/manifests/04-apps/productivity/kustomization.yaml
  flux/manifests/04-apps/productivity/projectsend/README.md
  flux/manifests/04-apps/productivity/projectsend/helmrelease.yaml
  flux/manifests/04-apps/productivity/projectsend/icon.svg
  flux/manifests/04-apps/productivity/projectsend/kustomization.yaml
  flux/manifests/04-apps/productivity/projectsend/mysql.yaml
  flux/manifests/04-apps/productivity/projectsend/namespace.yaml
  flux/manifests/04-apps/productivity/projectsend/valkey.yaml
Due: kustomize-diff

feat(game-host): expose AMP over tailnet with 443 + Authentik OIDC
  ansible/inventory/host_vars/game.yml
  ansible/playbooks/game.yml
  ansible/playbooks/site.yml
  ansible/roles/acme_sh/defaults/main.yml
  ansible/roles/acme_sh/meta/main.yml
  ansible/roles/acme_sh/tasks/main.yml
  ansible/roles/nginx_site/defaults/main.yml
  ansible/roles/nginx_site/handlers/main.yml
  ansible/roles/nginx_site/meta/main.yml
  ansible/roles/nginx_site/tasks/main.yml
  ansible/roles/nginx_site/templates/site.conf.j2
  ansible/roles/tailscale/defaults/main.yml
  ansible/roles/tailscale/handlers/main.yml
  ansible/roles/tailscale/meta/main.yml
  ansible/roles/tailscale/tasks/main.yml
  docs/plans/game-host-tailnet.md
  docs/plans/tailnet-split-dns.md
  flux/manifests/03-services/authentik/blueprints/amp.yaml
  flux/manifests/03-services/tailnet-dns/README.md
  flux/manifests/03-services/tailnet-dns/coredns.yaml
  terraform/deployments/tailscale/tailnet/policy.hujson
  terraform/deployments/tailscale/tailnet/terragrunt.hcl
Due: kustomize-diff

fix(ansible): make acme_sh and tailscale roles check-mode safe
  ansible/roles/acme_sh/tasks/main.yml
  ansible/roles/tailscale/tasks/main.yml
Due: none

fix(ansible): guard service tasks and handlers in check mode
  ansible/roles/nginx_site/handlers/main.yml
  ansible/roles/nginx_site/tasks/main.yml
  ansible/roles/tailscale/tasks/main.yml
Due: none

chore(deps): Update ghcr.io/renovatebot/renovate Docker tag to v44.83.1
  flux/manifests/03-services/renovate-operator/config/renovatejob.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/halcyon-video/halcyon-video Docker tag to v0.19.0
  flux/manifests/04-apps/media/servers/halcyon/helmrelease.yaml
Due: kustomize-diff

fix(ansible): read repo-password field; fail fast on empty secrets
  ansible/roles/kopia/tasks/main.yml
Due: none

fix(ansible): skip tailscale package install in check mode
  ansible/roles/tailscale/handlers/main.yml
  ansible/roles/tailscale/tasks/main.yml
Due: none

chore(gitlab-runner): scale runner managers from 2 to 4
  flux/manifests/03-services/gitlab/runner/README.md
  flux/manifests/03-services/gitlab/runner/helmrelease.yaml
Due: kustomize-diff

fix(ansible): fetch playbook secrets from 1Password Connect
  ansible/.gitlab-ci.yml
  ansible/ci/fetch_op_secrets.py
  ansible/inventory/host_vars/game.yml
  ansible/roles/acme_sh/defaults/main.yml
  ansible/roles/acme_sh/tasks/main.yml
  ansible/roles/tailscale/defaults/main.yml
  ansible/roles/tailscale/tasks/main.yml
  docs/plans/game-host-tailnet.md
Due: none

fix(ansible): read Cloudflare token from its api-token field
  ansible/ci/fetch_op_secrets.py
Due: none

fix(ansible): pass the full dnsapi plugin name to acme.sh --dns
  ansible/roles/acme_sh/defaults/main.yml
  ansible/roles/acme_sh/tasks/main.yml
Due: none

feat(cryptpad): native OIDC SSO via Authentik, friends tier, 2026.5.1
  flux/manifests/04-apps/productivity/cryptpad/README.md
  flux/manifests/04-apps/productivity/cryptpad/authentik-blueprint-cleanup.yaml
  flux/manifests/04-apps/productivity/cryptpad/helmrelease.yaml
  flux/manifests/04-apps/productivity/cryptpad/httproute-sandbox.yaml
  flux/manifests/04-apps/productivity/cryptpad/kustomization.yaml
  flux/manifests/04-apps/productivity/cryptpad/onepassworditem.yaml
  flux/manifests/04-apps/productivity/cryptpad/sso.js
Due: kustomize-diff

fix(productivity): reroute ProjectSend uploads past the CIFS chown
  flux/manifests/04-apps/productivity/projectsend/README.md
  flux/manifests/04-apps/productivity/projectsend/helmrelease.yaml
Due: kustomize-diff

fix(productivity): add DAC_OVERRIDE to the ProjectSend root caps
  flux/manifests/04-apps/productivity/projectsend/README.md
  flux/manifests/04-apps/productivity/projectsend/helmrelease.yaml
Due: kustomize-diff

fix(cryptpad): cap HTTP workers to 4
  flux/manifests/04-apps/productivity/cryptpad/config.js
Due: kustomize-diff

fix(ansible): kopia snapshot service needs KOPIA_PASSWORD
  ansible/roles/kopia/tasks/repository.yml
  ansible/roles/kopia/tasks/schedule.yml
Due: none

fix(ansible): skip acme.sh public DNS check (cloudflare-dns.com blocked)
  ansible/roles/acme_sh/defaults/main.yml
  ansible/roles/acme_sh/tasks/main.yml
Due: none

fix(ansible): tolerate missing nginx in the acme.sh reload command
  ansible/inventory/host_vars/game.yml
  ansible/roles/acme_sh/defaults/main.yml
Due: none

feat(tailscale): enable override_local_dns for tailnet-wide NextDNS
  terraform/deployments/tailscale/tailnet/terragrunt.hcl
Due: none

chore(deps): Update ghcr.io/firecrawl/firecrawl:latest Docker digest to 780592f
  flux/manifests/04-apps/artificial-intelligence/firecrawl/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/open-telemetry/opentelemetry-operator/autoinstrumentation-dotnet:1.16.0 Docker digest to e75f17f
  flux/manifests/03-services/observability/otel-operator/instrumentation.yaml
Due: kustomize-diff

Path conditions:
  create-chart-tag: any of: helm/generic-app/Chart.yaml
  kustomize-diff: any of: flux/manifests/**/*
