Repository Apocrathia/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: create-chart-tag, kustomize-diff

Path conditions:
  create-chart-tag: any of: helm/generic-app/Chart.yaml
  kustomize-diff: any of: flux/manifests/**/*

fix(kagent): downgrade Helm chart version to 0.7.8 due to duplicate 'deployment' key bug in 0.7.9
  flux/manifests/04-apps/artificial-intelligence/kagent/helmrelease.yaml
Due: kustomize-diff

feat(arrsync): add method to wait for command queue to be idle before proceeding with operations
  flux/manifests/04-apps/media/management/scripts/arrsync/src/arrsync.py
Due: kustomize-diff

chore(kustomization): comment out windmill resource in management kustomization.yaml
  flux/manifests/04-apps/management/kustomization.yaml
Due: kustomize-diff

chore(ci): update GitLab CI configuration to include security scanning jobs and adjust stages
  .gitlab-ci.yml
  .gitlab/README.md
  .gitlab/chart-tag.gitlab-ci.yml
  .gitlab/gitleaks.gitlab-ci.yml
  .gitlab/kube-linter.gitlab-ci.yml
  .gitlab/no-op.gitlab-ci.yml
  .gitlab/semgrep.gitlab-ci.yml
  .gitlab/shellcheck.gitlab-ci.yml
  .gitlab/tofu.gitlab-ci.yml
  .gitlab/trivy.gitlab-ci.yml
Due: none

fix(pgvector): downgrade Python image version to 3.12 for psycopg2-binary compatibility
  flux/manifests/04-apps/artificial-intelligence/litellm/pgvector/helmrelease.yaml
Due: kustomize-diff

fix(qdrant): downgrade Python image version to 3.12 to resolve fastembed compatibility issues
  flux/manifests/04-apps/artificial-intelligence/mcp-servers/qdrant/mcpserver.yaml
Due: kustomize-diff

refactor(scripts): standardize read command usage across multiple scripts to improve consistency
  scripts/download-icons.sh
  scripts/longhorn/attach-volumes-to-default-group.sh
  scripts/longhorn/cancel-stuck-restores.sh
  scripts/longhorn/cleanup-longhorn-snapshots.sh
  scripts/longhorn/cleanup-stopped-replicas.sh
  scripts/longhorn/cleanup-talos-ephemeral.sh
  scripts/longhorn/clear-engine-restores.sh
  scripts/longhorn/clear-restore-conditions.sh
  scripts/longhorn/clear-volume-restore-status.sh
  scripts/longhorn/recreate-and-restore-volumes.sh
  scripts/longhorn/reset-stopped-replicas.sh
  scripts/longhorn/restart-degraded-volume-engines.sh
  scripts/longhorn/restore-empty-volumes.sh
  scripts/longhorn/restore-volumes-from-backup.sh
  scripts/longhorn/update-volume-data-locality.sh
  scripts/longhorn/update-volume-replica-counts.sh
  scripts/longhorn/update-volume-snapshot-limits.sh
  scripts/rolling-reboot.sh
  scripts/run-renovate.sh
  scripts/test-chart-tag.sh
Due: none

docs(zfs): add configuration guide for ZFS sync settings on Talos VMs to improve performance
  docs/zfs-configuration.md
Due: none

chore(patch): remove invalid WAL sync settings from unified-patch.yaml
  talos/patches/unified-patch.yaml
Due: none

chore(release): bump version to 0.0.52 and revert Authentik proxy timeout configuration due to creation issues
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/README.md
  helm/generic-app/templates/authentik-blueprint.yaml
  helm/generic-app/values.yaml
Due: create-chart-tag

chore(ci): update kube-linter configuration to specify entrypoint and streamline linting commands
  .gitlab/kube-linter.gitlab-ci.yml
Due: none

chore(ci): simplify Trivy IaC security scanning configuration by removing unfixed issues job and updating output messages
  .gitlab/trivy.gitlab-ci.yml
Due: none

chore(ci): update kube-linter configuration to use Alpine image and streamline linting process
  .gitlab/kube-linter.gitlab-ci.yml
Due: none

chore(ci): refine kube-linter and Trivy configurations for improved scanning efficiency
  .gitlab/kube-linter.gitlab-ci.yml
  .gitlab/trivy.gitlab-ci.yml
Due: none

chore(ci): still tweaking ci
  .gitlab/kube-linter.gitlab-ci.yml
  .gitlab/trivy.gitlab-ci.yml
Due: none

chore(ci): update security scanning jobs in README to reflect changes in Trivy configuration and job count
  .gitlab/README.md
Due: none

feat(productivity): add wakapi coding statistics tracking
  flux/manifests/04-apps/productivity/wakapi/README.md
  flux/manifests/04-apps/productivity/wakapi/helmrelease.yaml
  flux/manifests/04-apps/productivity/wakapi/icon.svg
  flux/manifests/04-apps/productivity/wakapi/kustomization.yaml
  flux/manifests/04-apps/productivity/wakapi/namespace.yaml
Due: kustomize-diff

feat(observability): configure Kafka log retention settings for Mimir Helm release
  flux/manifests/03-services/observability/mimir/helmrelease.yaml
Due: kustomize-diff

refactor(observability): remove ingestion rate limit configuration from Mimir Helm release
  flux/manifests/03-services/observability/mimir/helmrelease.yaml
Due: kustomize-diff

chore(release): bump version to 0.0.53 and fix numeric zero value handling in templates
  helm/generic-app/CHANGELOG.md
  helm/generic-app/Chart.yaml
  helm/generic-app/templates/deployment.yaml
Due: create-chart-tag

feat(observability): add SNMP exporter credentials configuration
  flux/manifests/02-infrastructure/kube-prometheus-stack/helmrelease.yaml
  flux/manifests/02-infrastructure/kube-prometheus-stack/secret.yaml
Due: kustomize-diff

feat(observability): add Prometheus SNMP scrape configurations
  flux/manifests/03-services/observability/kustomization.yaml
  flux/manifests/03-services/observability/prometheus/kustomization.yaml
  flux/manifests/03-services/observability/prometheus/snmp/kustomization.yaml
  flux/manifests/03-services/observability/prometheus/snmp/pdu-01.yaml
  flux/manifests/03-services/observability/prometheus/snmp/ups-01.yaml
Due: kustomize-diff

feat(observability): add etcd monitoring configuration for Prometheus
  flux/manifests/02-infrastructure/kube-prometheus-stack/kustomization.yaml
  flux/manifests/03-services/observability/prometheus/etcd/README.md
  flux/manifests/03-services/observability/prometheus/etcd/alerts.yaml
  flux/manifests/03-services/observability/prometheus/etcd/kustomization.yaml
  flux/manifests/03-services/observability/prometheus/etcd/scrapeconfig.yaml
  flux/manifests/03-services/observability/prometheus/kustomization.yaml
Due: kustomize-diff

refactor(observability): rename SNMP credentials to snmp-secrets
  flux/manifests/02-infrastructure/kube-prometheus-stack/helmrelease.yaml
  flux/manifests/02-infrastructure/kube-prometheus-stack/secret.yaml
Due: kustomize-diff

refactor(observability): remove SNMP exporter credentials from Helm release and OnePasswordItem
  flux/manifests/02-infrastructure/kube-prometheus-stack/helmrelease.yaml
  flux/manifests/02-infrastructure/kube-prometheus-stack/secret.yaml
Due: kustomize-diff

feat(observability): enhance Prometheus configuration with new namespace and secrets
  flux/manifests/03-services/observability/prometheus/kustomization.yaml
  flux/manifests/03-services/observability/prometheus/namespace.yaml
  flux/manifests/03-services/observability/prometheus/secret.yaml
  flux/manifests/03-services/observability/prometheus/snmp-exporter.yaml
  flux/manifests/03-services/observability/prometheus/snmp/pdu-01.yaml
  flux/manifests/03-services/observability/prometheus/snmp/ups-01.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/muety/wakapi Docker tag to v2.17.1
  flux/manifests/04-apps/productivity/wakapi/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update Helm release connect to v2.2.1
  flux/manifests/01-bootstrap/1password/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update Helm release windmill to v4.0.50
  flux/manifests/04-apps/management/windmill/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update alpine Docker tag to v3.23
  .gitlab/kube-linter.gitlab-ci.yml
Due: none

chore(deps): Update Helm release loki to v6.51.0
  flux/manifests/03-services/observability/loki/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update semgrep/semgrep Docker tag to v1.150.0
  .gitlab/semgrep.gitlab-ci.yml
Due: none

feat(observability): enhance SNMP monitoring configuration for Prometheus
  flux/manifests/03-services/observability/prometheus/snmp-exporter.yaml
  flux/manifests/03-services/observability/prometheus/snmp/README.md
  flux/manifests/03-services/observability/prometheus/snmp/kustomization.yaml
  flux/manifests/03-services/observability/prometheus/snmp/mibs/README.md
  flux/manifests/03-services/observability/prometheus/snmp/mibs/SNMP-FRAMEWORK-MIB.txt
  flux/manifests/03-services/observability/prometheus/snmp/mibs/SNMPv2-CONF.txt
  flux/manifests/03-services/observability/prometheus/snmp/mibs/SNMPv2-SMI.txt
  flux/manifests/03-services/observability/prometheus/snmp/mibs/SNMPv2-TC.txt
  flux/manifests/03-services/observability/prometheus/snmp/mibs/apc.mib
  flux/manifests/03-services/observability/prometheus/snmp/mibs/generate.sh
  flux/manifests/03-services/observability/prometheus/snmp/mibs/generator.yml
  flux/manifests/03-services/observability/prometheus/snmp/mibs/unifi.mib
  flux/manifests/03-services/observability/prometheus/snmp/pdu-01.yaml
  flux/manifests/03-services/observability/prometheus/snmp/snmp.yml
  flux/manifests/03-services/observability/prometheus/snmp/ups-01.yaml
Due: kustomize-diff

feat(observability): add SNMP MIBs and configurations for Brother and Synology devices
  flux/manifests/03-services/observability/prometheus/snmp/mibs/brother.mib
  flux/manifests/03-services/observability/prometheus/snmp/mibs/generator.yml
  flux/manifests/03-services/observability/prometheus/snmp/mibs/synology.mib
  flux/manifests/03-services/observability/prometheus/snmp/mibs/truenas.mib
  flux/manifests/03-services/observability/prometheus/snmp/snmp.yml
Due: kustomize-diff

feat(observability): add SNMP scrape configurations for additional devices
  flux/manifests/03-services/observability/prometheus/snmp/kustomization.yaml
  flux/manifests/03-services/observability/prometheus/snmp/targets/diskstation.yaml
  flux/manifests/03-services/observability/prometheus/snmp/targets/kustomization.yaml
  flux/manifests/03-services/observability/prometheus/snmp/targets/pdu-01.yaml
  flux/manifests/03-services/observability/prometheus/snmp/targets/storage.yaml
  flux/manifests/03-services/observability/prometheus/snmp/targets/ups-01.yaml
  flux/manifests/03-services/observability/prometheus/snmp/targets/upstairs-printer.yaml
Due: kustomize-diff

fix(trivy): update Trivy config scanning command to handle multiple files
  .gitlab/trivy.gitlab-ci.yml
Due: none

chore(deps): Update ghcr.io/firecrawl/firecrawl Docker digest to 2343bff
  flux/manifests/04-apps/artificial-intelligence/firecrawl/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/chrisbenincasa/tunarr Docker tag to v1.1.4
  flux/manifests/04-apps/media/servers/tunarr/helmrelease.yaml
Due: kustomize-diff

chore(deps): Update ghcr.io/yeraze/meshmonitor Docker tag to v3.1.1
  flux/manifests/04-apps/home/meshtastic/helmrelease.yaml
Due: kustomize-diff
